# ─── Dependencies ─────────────────────────────────────
node_modules/
.env

# ─── Uploads ──────────────────────────────────────────
uploads/

# ─── Logs ─────────────────────────────────────────────
*.log
npm-debug.log*

# ─── OS ───────────────────────────────────────────────
.DS_Store
Thumbs.db
